name: Generate Metrics

on:
  schedule:
    - cron: "0 5 * * *" # daily at 05:00 UTC
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate GitHub metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: github-metrics.svg
          base: header, activity, community
          plugin_languages: yes
          plugin_languages_limit: 8

